html, body{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(background_2.png);
}

div.project{
    /*background-color: lightslategray;*/
    width: 1320px;
    height: 880px;
    margin-left: auto;
    margin-right: auto;
}

div.arrow_back{
    position: absolute;
    margin-top: 398px;
    margin-left: 0px;
    cursor: pointer;
}

div.arrow_forward{
    position: absolute;
    margin-top: 398px;
    margin-left: 1270px;
    cursor: pointer;
}

div.top{
    position: absolute;
    margin-left: 60px;
    height: 50px;
}

div.image{
    position: absolute;
    width: 1200px;
    height: 800px;
    margin-top: 60px;
    margin-left: 60px;
    background-color: tomato;
}

a.home{
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 0px;
}

img.outline{
    width: 1200px;
    height: 800px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: white;
}

img.arrow_back, img.arrow_forward{
    width: 50px;
    height: 125px;
}

img.home{
    width: 100px;
    height: 50px;
}
